@import "tailwindcss";


@theme {
  --color-ph-gray: #716F6F;
  --color-bg-input: #E0E0E0;
  --color-fill-green: #D4F5E6;
  --color-outl-green: #8ED1B2;
  --color-fill-red: #FADBD8;
  --color-outl-red: #F5B7B1;
  --color-fill-blue: #D6EAF8;
  --color-outl-blue: #5499C7;
  --color-light-gray: #F9F9F9;
  --color-dark-gray: #E0E0E0;
  --color-destructive: #F94252;
}

.debug {
  outline: 1px solid red !important;
}

.spinner {
  border: 5px solid lightgray;
  border-top: 5px solid black;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

@keyframes shrink {
  from { width: 100%; }
  to { width: 0%; }
}